.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  backdrop-filter: blur(5px);
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgba(145, 8, 66, 0.9);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

:root {
  --bgAnimColor: linear-gradient(
    to left,
    #dfdfdf,
    #dfdfdf,
    #f8f8f8,
    #dfdfdf,
    #dfdfdf
  );
  --bgSize: 400% 400%;
  --animBg: animateBg 10s linear infinite;
}

.post-loader {
  width: min(700px, 100%);
  margin-bottom: 10px;
  padding: 10px;
  margin-inline: auto;
}

.post-loader__user {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.post-loader__user-avatar,
.list-loader__avatar {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  background: var(--bgAnimColor);
  background-size: var(--bgSize);
  animation: var(--animBg);
  border-radius: 50%;
}

.post-loader__user-data {
  margin-top: 10px;
  width: 100%;
}

.post-loader__user-data-name {
  width: 100%;
  height: 10px;
  background: var(--bgAnimColor);
  background-size: var(--bgSize);
  animation: var(--animBg);
  margin-bottom: 10px;
  border-radius: 3px;
}

.post-loader__user-data-subtitle {
  width: 100%;
  height: 6px;
  background: var(--bgAnimColor);
  background-size: var(--bgSize);
  animation: var(--animBg);
  margin-bottom: 10px;
  border-radius: 3px;
}

.post-loader__media {
  width: 100%;
  height: 300px;
  background: var(--bgAnimColor);
  background-size: var(--bgSize);
  animation: var(--animBg);
  border-radius: 10px;
}

.post-loader__content {
  width: 100%;
  margin-top: 10px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.post-loader__content span,
.list-loader__content span {
  width: 100%;
  height: 8px;
  margin-bottom: 5px;
  background: var(--bgAnimColor);
  background-size: var(--bgSize);
  animation: var(--animBg);
  border-radius: 3px;
}

.post-loader__content span:last-child {
  width: 70%;
}

.list-loader {
  width: min(700px, 100%);
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.list-loader__content {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list-loader__content span:first-child {
  height: 20px;
}

.grid-loader {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.grid-loader-grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.grid-loader-grid__card {
  width: 100px;
  aspect-ratio: 1/1;
  margin-bottom: 5px;
  background: var(--bgAnimColor);
  background-size: var(--bgSize);
  animation: var(--animBg);
  border-radius: 5px;
}

.grid-loader-grid span {
  width: 100%;
  height: 10px;
  background: var(--bgAnimColor);
  background-size: var(--bgSize);
  animation: var(--animBg);
  border-radius: 3px;
}

.grid-loader-grid span:last-child {
  width: 80%;
}

@keyframes animateBg {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 50%;
  }
}
