.user-photos-div {
  padding: 10px;
  border-radius: var(--inputField-radius);
  border: 1px solid rgba(0 0, 0, 0.2);
  margin-top: 10px;
  background: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.profile-photos-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 10px;
}

.profile-media {
  width: 100%;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
  margin-inline: auto;
  border-radius: 5px;
}

.profile-media img {
  width: 120%;
  height: 120%;
  object-fit: cover;
}

.see-all-user-photos-btn {
  margin-left: auto;
  cursor: pointer;
  max-width: max-content;
}
