.user-friends-div {
  padding: 10px;
  border-radius: var(--inputField-radius);
  border: 1px solid rgba(0 0, 0, 0.2);
  margin-top: 10px;
  background: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.user-friends {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.user-friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.user-friend-image {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin-inline: auto;
  border-radius: var(--inputField-radius);
}

.user-friend-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-see-all-friends-btn {
  text-align: right;
}
