.messenger {
  display: flex;
  gap: 10px;
  max-width: 1200px;
  min-height: calc(100vh - 100px);
  margin-inline: auto;
}

.messenger-titles {
  flex-basis: 40%;
}

.messages {
  flex-basis: 60%;
  height: 100%;
  border-left: 1px solid #d9d9d9;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 920px) {
  .messenger {
    display: block;
  }

  /* .messages {
    display: none;
  } */

  .empty-conversation {
    display: none;
  }
}

.empty-conversation {
  padding: 20px;
  position: relative;
  top: 5vh;
  opacity: 0.5;
}

.search-conversation form {
  display: flex;
  align-items: center;
  padding: 10px;
  background: lightgrey;
}

.search-conversation form input {
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  background: transparent;
  font-family: inherit;
}
