.messenger-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-block: 10px;
  padding-right: 2vw;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
}

.messenger-item:hover {
  background: #eeeeee;
}

.messenger-item-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.messenger-img {
  min-width: 50px;
  max-width: 50px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
}

.messenger-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.messenger-item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.messenger-unread-message-count {
  width: 20px;
  height: 20px;
  background: #7ae1f8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
}

/* Tablet Media query */
@media screen and (max-width: 1150px) {
  .messenger-item {
    padding-inline: 2vw;
  }
}
