.notifications {
  padding-inline: min(2vw, 10px);
}

.notifications-header {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #00000030;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f8f8f8;
}

.notifications-header img {
  height: 20px;
}

.notif-loader {
  padding: 10px;
}

.notification {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-block: 10px;
  border-bottom: 1px solid #00000030;
}

.notification a {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.notification-user-image {
  min-width: 50px;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: var(--inputField-radius);
  overflow: hidden;
}

.notification-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notification-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-action-btns {
  align-self: flex-end;
  display: flex;
  flex-wrap: nowrap;
}

.notification-action-btns button {
  padding: 4px 15px;
  border-radius: var(--inputField-radius);
  outline: none;
  border: 1px solid #00000030;
}

.notification-action-btns button:hover {
  background: #00000030;
}

.notification-action-btns button.Accept {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.notification-action-btns button.Reject {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* notification poput */

.notification-popup {
  position: fixed;
  width: 400px;
  height: calc(100% - 100px);
  top: 80px;
  right: 3vw;
  background: #f8f8f8;
  border-radius: var(--inputField-radius);
  box-shadow: 0 0 10px 10px #00000010;
  overflow-y: scroll;
  z-index: 1000;
}

.notification-popup::-webkit-scrollbar {
  width: 5px;
}

.notification-popup::-webkit-scrollbar-thumb {
  background: #00000030;
  border-radius: 10px;
}

.notification-close-btn {
  width: 25px;
  height: 25px;
  background: #d2cfcf;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.notification-close-btn:hover {
  background: #a8a8a8;
}

.notification-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-block: 10px;
}

.notification-nav span {
  position: relative;
  cursor: pointer;
  padding-bottom: 5px;
}

.notification-nav span.active::before {
  content: "";
  width: 120%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--gradient-clr);
  border-radius: 4px 4px 0 0;
}
