.signupPage {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 2vw;
}

.signup {
  background: white;
  border-radius: var(--inputField-radius);
  padding: 20px;
  width: 500px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.signup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #d2cfcf;
}

.signup-close-btn {
  width: 25px;
  height: 25px;
  background: #d2cfcf;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.signup-close-btn:hover {
  background: #a8a8a8;
}

.signup-body {
  margin-top: 20px;
}

.signup-body-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signup-body-inputs input {
  width: 100%;
  padding: 10px;
  border-radius: var(--inputField-radius);
  border: 1px solid #d2cfcf;
  outline: none;
}

.signup-btn {
  width: 100%;
  margin-top: 10px;
}

.signup-btn button {
  width: 100%;
}

.login-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-link a {
  font-weight: bold;
  text-decoration: none;
  color: #b4042a;
  cursor: pointer;
}

.login-link a:hover {
  text-decoration: underline;
}
