.login-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-link a {
  font-weight: bold;
  text-decoration: none;
  color: #b4042a;
  cursor: pointer;
}

.login-link a:hover {
  text-decoration: underline;
}
